.card-ranking .info-layer {
    border-top: .5rem solid #B96181
}

.card.card-story {
    overflow: hidden;

    .card-header, .card-link, .card-body, img {
        transition: .5s cubic-bezier(.19,1,.19,1);
    }
    &:hover {
        .card-header, .card-link, .card-body {
            transform: translateY(-32px);
        }
        img {
            transform: scale(1.05);
        }
    }
}