.card-ranking .info-layer {
    border-top: .5rem solid #B96181
}
.card.card-story {
    .card-header, .card-link {
        transition: .5s cubic-bezier(.19,1,.19,1);
    }
    :hover {
        .card-header, .card-link {
            transform: translateY(-32px);
        }
    }
}