.uds-button .btn.btn-maroon, .gform_wrapper .gform_footer input.gform_button, .gform_wrapper .gform_page_footer input.gform_next_button {
    background-color: #AA271F;
    border-color: #AA271F;

    &:hover {
        transform: scale(1.05);
    }
}