//ranking card
.card-ranking .info-layer {
    border-top: .5rem solid #B96181
}
//story card
.card.card-story {
    overflow: hidden;

    .card-header, .card-link, .card-body, img {
        transition: .5s cubic-bezier(.19,1,.19,1);
    }
    &:hover {
        .card-header, .card-link, .card-body {
            transform: translateY(-32px);
        }
        img {
            transform: scale(1.05);
        }
    }
}
//img overlap card
.uds-image-overlap {
    &:after {
        background-color: #ED7440;
    }
}
//event card
.card-event {
    .card-header {
        border-top: 8px solid #B96181;
    }
    .card-button {
        .btn.btn-maroon {
            background-color: #AA271F;
            border-color: #AA271F;
        }
    }
}