div.uds-hero {
    margin-bottom: 0;
    header {
        h1 {
            span.text-white {
                margin-left: 0;
            }
            @media (min-width: 993px) {
                max-width: 1200px;
                margin: 0;
            }
        }
    }
    .content.text-white {
        @media (min-width: 993px) {
            margin: 0;
        }
    }
}